body{
    background-image: url(/it202-project3/bg.png);
}

.heading{
    font-size: 5rem;
    text-align: center;
    color: yellow;
    font-family: 'Orbitron', sans-serif;
}

canvas{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;   
    transform: translate(-50%,-50%);
}